@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#page-body {
    margin: 2%;
    font-family: 'Satisfy', cursive;
    color: darkslategray;
    font-size: 2vw;
}

img {
    width: 50%;
}

h2 {
    margin-top: 1%;
    font-size: 4vw;

}